blib
cover_db
Makefile
META.yml
META.json
MYMETA.yml
MYMETA.json
pm_to_blib
*.tar.gz
*.tgz
*.old
DBD-CSV*
xx*
valgrind.log
.perlcriticrc
tmp/*
!tmp/tmp.csv
tests.skip
t/basic/
t/DBI/
t/DBD/
t/SQL/
xt/basic/
xt/DBI/
xt/DBD/
xt/SQL/
